doctype html
html
  head
    // meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Image Validator
    // fav icon
    // link(rel='shortcut icon', href='/images/favicon.ico')
    // css 
    link(rel='stylesheet', href='/css/app.css')
    // script
    script(src='/js/socket.io.min.js')
  body#canvas
    script(src='/js/app.js')
    #title
        h1 Is this picture related to the topic ?
        p (press the space key to say yes, and all other keys to say no)
    #content 
        img#image(src=uri)
        input#idimage(type="hidden" name="id" value=_id)
