doctype html
html
  head
    // meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Image Validator
    // fav icon
    // link(rel='shortcut icon', href='/images/favicon.ico')
    // css
    // <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    // link(rel='stylesheet', href='/css/app.css')
    // script
    script(src='/js/socket.io.min.js')
  body#canvas
    script(src='/js/appe.js')
    #content 
        img#image(src=uri)
        input#idimage(type="hidden" name="id" value=_id)
